.login-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-placeholder {
  background-color: #97c2ff;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.login-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  padding: 50px 30px;
  width: 300px;
  text-align: left;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  width: calc(90%);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #97c2ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.login-button:hover {
  background-color: #6a9ad7;
}

.register-link {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
}

.error {
  color: red;
  margin-top: 10px;
}

/* Login.css */
.success {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}
